spring:
  profiles:
    active: dev
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate.format_sql: true
      hibernate.dialect: org.hibernate.dialect.PostgreSQLDialect
    defer-datasource-initialization: true
  sql:
    init:
      mode: always
  datasource:
    url: jdbc:postgresql://localhost:5432/loyalty
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
server:
  port: 8080
app:
  jwt:
    secret: change_me_dev_secret_please_change_change
    expiration: 86400
